<section class="index-page">
    <h2>Profile panel</h2>

    <h3>Hello {{ userName }} </h3>
    <img class="avatar" src="{{photo}}" alt="">
    <a class="loginBtn" href="/auth/logout">Logout</a>
</section>